{% extends 'base.html' %}{% block styles%}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css"> -->
{% endblock styles%}
<!-- Content block -->
{% block content %}

<div class="parallax"></div>

<div class="container-fluid" id="Do" style="background-color: cornflowerblue;">
  <div class="text-center" style="background-color: cornflowerblue;">
    <h1 style="float: center; font-weight: bold; font-size: 40px;"><b><i>SERVICES</i></b></h1>
   
  </div>

  <div class="row">
    <div class="col-md-3">
      <div id="development-image">
        <img src="../static/images/safe.jpeg" style="width: 320px; height: 266px;">
      </div>
      <h2 class="title">WATER SAFETY</h2>
      <p>Captains are trained on how to handle an emergecy while on water</p>
    </div>

    <div class="col-md-3">
      <div id="development-image">
        <img src="../static/images/rider.jpg" style="width: 320px; height: 266px;">
        <h2 class="title"><b>Convenient</b></h2>
        <p>Forget the long lines and confusion associated with finding transportation from the many Boston</p>
      </div>

      </div>

      <div class="col-md-3">
        <div id="development-image">
          <img src="../static/images/capt.webp" style="width: 320px; height: 266px;">
          <h2 class="title"><b>Teachings</b></h2>
          <p>Basic skill be tought here</p>
        </div>
  
        </div>

        <div class="col-md-3">
          <div id="development-image">
            <img src="../static/images/aid.jpeg" style="width: 320px; height: 266px;">
            <h2 class="title"><b>First aid</b></h2>
            <p> When you provide basic medical care to someone experiencing a sudden injury or
               illness, it's known as first aid.</p>
          </div>
    
          </div>

    </div>
   
   <div class="row">
    <div class="col-md-3">
      <div id="development-image">
        <img src="../static/images/food.jpeg" style="width: 320px; height: 266px;">
      </div>
      <h2 class="title"><b>Food and Beddings</b></h2>
      <p>The procurement of food </p>
    </div>

    <div class="col-md-3">
      <div id="development-image">
        <img src="../static/images/repair.jpeg" style="width: 320px; height: 266px;">
      </div>
      <h2 class="title"><b>Repair works</b></h2>
      <p>Vessel repair involves a lot of practical jobs and logistics challenges. We have the in-house
        expertise to provide all the services needed for a smooth operation.</p>
    </div>

    <div class="col-md-3">
      <div id="development-image">
        <img src="../static/images/package.jpg" style="width: 320px; height: 266px;">
      </div>
      <h2 class="title"><b>Passage service</b></h2>
      <p>Near the Danish straits we offer a wide range of passage related services such as launch boat 
        deliveries, diving inspections and tank cleaning including disposal of washing water.</p>
    </div>

   
    <div class="col-md-3">
      <div id="development-image">
        <img src="../static/images/crew.jpeg" style="width: 320px; height: 266px;">
      </div>
      <h2 class="title"><b>Crew change</b></h2>
      <p>From a shipowner’s point of view, Denmark has some of the most favorable immigration rules 
        in Europe.</p>
    </div>
  </div>
  </div>
</div>






<!-- footer -->
<br>
<footer class="footer mt-4" style="background-color: blue;text-align: center;padding: 1em;">
  <div class="social-icons">
    <i class="fa fa-2x fa-facebook"></i>
    <i class="fa fa-2x fa-twitter"></i>
    <i class="fa fa-2x fa-instagram"></i>
  </div>
  <p class="text-center pt-2">Copyright &copy; 2020 Design by Marine-Travellers</p>
</footer>

{% endblock %}


